*{
  margin: 0;
  padding: 0px;
  color: white;
}
body{
  background-color: black;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media only screen and (max-device-width: 480px) {
  .homepage-header{
  font-size: 14px;
}
}